.csv
dist
__pycache__/insert_pos_mysql.cpython-39.pyc
build/execute_insert_mysql/Analysis-00.toc
build/execute_insert_mysql/COLLECT-00.toc
build/execute_insert_mysql/EXE-00.toc
build/execute_insert_mysql/execute_insert_mysql.exe
build/execute_insert_mysql/execute_insert_mysql.exe.manifest
build/execute_insert_mysql/execute_insert_mysql.pkg
build/execute_insert_mysql/PKG-00.toc
build/execute_insert_mysql/PYZ-00.pyz
build/execute_insert_mysql/PYZ-00.toc
build/execute_insert_mysql/Tree-00.toc
build/execute_insert_mysql/Tree-01.toc
build/execute_insert_mysql/Tree-02.toc
build/execute_insert_mysql/warn-execute_insert_mysql.txt
build/execute_insert_mysql/xref-execute_insert_mysql.html
build/execute_insert_mysql/base_library.zip
test_dwh.csv
dwh_log.log
configuration.csv
test_linux_file.py
dwh_log.log
